legacy-peer-deps=true
# Use public npm registry as default
registry=https://registry.npmjs.org/
# Only use private registry for @phenom packages
@phenom:registry=https://pie-nexus.phenompro.com/repository/pie-npm-group
//pie-nexus.phenompro.com/repository/:_auth=${NPM_TOKEN}

# Font Awesome Pro registry
@fortawesome:registry=https://npm.fontawesome.com/
@awesome.me:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}

loglevel=verbose
