legacy-peer-deps=true
registry=https://pie-nexus.phenompro.com/repository/pie-npm-group
@phenom:registry=https://pie-nexus.phenompro.com/repository/pie-npm-group
//pie-nexus.phenompro.com/repository/:_auth=${NPM_TOKEN}

@fortawesome:registry=https://npm.fontawesome.com/
@awesome.me:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}

loglevel=verbose

